*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/changeableicon
/chart
/customkeyboard
/docsscan
/docsscan2
/docsscan3
/imageio
/monthpicker
/pickfile
/playground
/playviewpager2